<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:axon="http://www.axonframework.org/schema/core"
	xsi:schemaLocation="http://www.axonframework.org/schema/core http://www.axonframework.org/schema/axon-core-2.0.xsd 
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <axon:annotation-config/>
    
    <axon:command-bus id="commandBus"/>
    <axon:event-bus id="eventBus"/>
    
    <axon:event-sourcing-repository 
        id="nymiRegistrationRepository"
        aggregate-type="fitpay.axon.domain.NymiRegistration"/>
    
    <axon:aggregate-command-handler 
        command-bus="commandBus" 
        aggregate-type="fitpay.axon.domain.NymiRegistration" 
        repository="nymiRegistrationRepository"/>
        
    <axon:filesystem-event-store 
        id="eventStore"
        base-dir="./eventsdb"/>
       
    <bean class="org.axonframework.commandhandling.gateway.CommandGatewayFactoryBean">
        <property name="commandBus" ref="commandBus"/>
    </bean>
    
    <bean class="fitpay.axon.eventhandlers.NymiRegistrationEventHandler"/>
</beans>
